<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.png">
    <meta name="theme-color" content="#db6400"/>
    <meta name="description" content="World Restaurants Catalogue">
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#restaurants" class="to-content">Skip to Content</a>
    <nav class="container">
      <h1>Restolobe</h1>
      <div class="menu">
        <ul>
          <li><a href="/" aria-label="Homepage">Home</a></li>
          <li><a href="/#/favorite" aria-label="Favorite">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/ibrahimsyah/" aria-label="About Us">About Us</a>
          </li>
        </ul>
        <button id="hamburger" aria-label="Menu">☰</button>
      </div>
    </nav>
    <div id="drawer">
      <h1>Restolobe</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#/favorite">Favorite</a></li>
        <li>
          <a href="https://www.linkedin.com/in/ibrahimsyah/">About Us</a>
        </li>
      </ul>
    </div>
    <div id="root"></div>
    <footer>
      <p>Copyright © 2020 Restolobe. All Right Reserved</p>
    </footer>
  </body>
</html>
